
<div class="container">
	<div class="card mx-auto bg-dark shadow-lg m-2" style="width: 70%;">
	  <% if @user.photo? %>
	  	<img class="card-img-top" src="<%= @user.photo_url %>" alt="Card image cap">
	  <% else %>
	  	<%= image_tag 'profile-photo-fallback.png', class:"card-img-top w-50 mx-auto" %>
	  <% end %>
	  <div class="card-body text-center">
	    <h1 class="card-title"><%= @user.first_name %> <%= @user.last_name %>'s Profile</h1>
	    <ul class="list-group list-group-flush m-3">
	      <li class="list-group-item bg-dark">Email: <%= @user.email %></li>
	      <li class="list-group-item bg-dark">Phone: <%= @user.phone_number %></li>
	      <li class="list-group-item bg-dark">
	      	Address:</br> 
	      	<%= @user.address %></br>
	      	<%= @user.city %></br>
	      	<%= @user.state %></br>
	      	<%= @user.postcode %></br>
	      	<%= @user.country %>
	      </li>
	      <li class="list-group-item bg-dark">Trades Made: <%= @user.trades.count %></li>
	      <li class="list-group-item bg-dark">Items Posted: <%= @user.postings.count %></li>
	    </ul>
		<button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModalCenter">Edit Profile</button>
	    <a href="/users/<%= @user.id %>/delete" class="btn btn-outline-danger" data-confirm="Are you sure you wish to remove your account? This cannot be reversed!">Delete Account</a>
	  </div>
	</div>
</div>

<div class="container-fluid">
	<div class="d-flex flex-wrap justify-content-center">
		<% @user.postings.each do |post| %>	
			<div class="card m-2 bg-dark border border-white shadow" style="width: 16rem;">
		  <%= image_tag 'placard.svg', class:'card-img-top' %>
		  <div class="card-body">
		  	<h6 class="card-subtitle mb-2 text-light"><%= post.created_at.to_date %></h6>
		  	<h5 class="card-title"><%= post.brand %></h5>
		    <p class="card-text">
		    Expected Offer:</br>
		    <%= post.expected_offer %>
			</p>
		  </div>
	      <ul class="list-group list-group-flush bg-secondary">
	        <li class="list-group-item text-body">Style: <%= post.style %> </li>
	        <li class="list-group-item text-body">Condition: <%= post.condition %> / 10</li>
	        <li class="list-group-item text-body">Size: <%= post.size %></li>
	      </ul>
	      <%= link_to 'View Post', posting_path(post.id), class:"btn btn-outline-success" %>
	      <%= link_to 'Delete Post', posting_path(post.id), class:"btn btn-outline-danger", confirm:"Are you sure you wish to delete? Effects cannot be reversed" %>
		</div>
		<% end %>
	</div>
</div>


<%= render partial: 'edit_modal' %>