
		<% @postings.each do |post| %>
		<div class="card m-2 bg-dark border border-white shadow" style="width: 16rem;">
		  <%= image_tag 'placard.svg', class:'card-img-top' %>
		  <div class="card-body">
		  	<h6 class="card-subtitle mb-2 text-light"><%= post.created_at.to_date %></h6>
		  	<h5 class="card-title"><%= post.brand %></h5>
		    <p class="card-text">
		    Expected Offer:</br>
		    <%= post.expected_offer %>
			</p>
		  </div>
	      <ul class="list-group list-group-flush bg-secondary">
	        <li class="list-group-item text-body">Style: <%= post.style %> </li>
	        <li class="list-group-item text-body">Condition: <%= post.condition %> / 10</li>
	        <li class="list-group-item text-body">Size: <%= post.size %></li>
	      </ul>
	      <%= link_to 'View Posting', posting_path(post.id), class:"btn btn-outline-warning" %>
	      <%= link_to 'Offer Trade', new_posting_trades_path(post.id), class:"btn btn-outline-success" %>
		</div>
		<% end %>