<div id="posting-box" class="mx-auto p-2" style="width: 80%;">
	<h2> Trades For Days... </h2>
	<div class="d-flex flex-wrap justify-content-center">
		<% @postings.each do |post| %>
		<div class="card m-2 bg-dark border border-white shadow" style="width: 16rem;">
		  <%= image_tag 'placard.svg', class:'card-img-top' %>
		  <div class="card-body">
		  	<h6 class="card-subtitle mb-2 text-light"><%= post.created_at.to_date %></h6>
		  	<h5 class="card-title"><%= post.brand %></h5>
		    <p class="card-text">
		    Expected Offer:</br>
		    <%= post.expected_offer %>
			</p>
		  </div>
	      <ul class="list-group list-group-flush bg-secondary">
	        <li class="list-group-item text-body">Style: <%= post.style %> </li>
	        <li class="list-group-item text-body">Condition: <%= post.condition %> / 10</li>
	        <li class="list-group-item text-body">Size: <%= post.size %></li>
	      </ul>
		</div>
		<% end %>
		<div class="card m-2" style="width: 16rem;">
			<%= image_tag 'placard.svg', class:'card-img-top' %>		  
			<div class="card-body">
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
		<div class="card m-2" style="width: 16rem;">
			<%= image_tag 'placard.svg', class:'card-img-top' %>
			<div class="card-body">
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
		<div class="card m-2" style="width: 16rem;">
			<%= image_tag 'placard.svg', class:'card-img-top' %>
			<div class="card-body">
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
		<div class="card m-2" style="width: 16rem;">
			<%= image_tag 'placard.svg', class:'card-img-top' %>
			<div class="card-body">
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
		<div class="card m-2" style="width: 16rem;">
			<%= image_tag 'placard.svg', class:'card-img-top' %>
			<div class="card-body">
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>

	</div>
</div>