<div id="posting-box" class="mx-auto p-2" style="width: 80%;">
	<h2> Trades For Days... </h2>
	<div class="d-flex flex-wrap justify-content-center">
		<div class="card m-2" style="width: 16rem;">
		  <%= image_tag 'placard.svg', class:'card-img-top' %>
		  <div class="card-body">
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
		<div class="card m-2" style="width: 16rem;">
			<%= image_tag 'placard.svg', class:'card-img-top' %>		  
			<div class="card-body">
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
		<div class="card m-2" style="width: 16rem;">
			<%= image_tag 'placard.svg', class:'card-img-top' %>
			<div class="card-body">
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
		<div class="card m-2" style="width: 16rem;">
			<%= image_tag 'placard.svg', class:'card-img-top' %>
			<div class="card-body">
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
		<div class="card m-2" style="width: 16rem;">
			<%= image_tag 'placard.svg', class:'card-img-top' %>
			<div class="card-body">
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
		<div class="card m-2" style="width: 16rem;">
			<%= image_tag 'placard.svg', class:'card-img-top' %>
			<div class="card-body">
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>

	</div>
</div>