<!DOCTYPE html>
<html>
  <head>
    <title>Shrade</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-transparent fixed-top">
      <a class="navbar-brand" href="/">
        <%= image_tag 'airmax.png', width: 30, height: 30, class:"d-inline-block align-top" %>
        Shrade
      </a>
      <ul class="nav justify-content-end">
        <% if current_user %>
          <li class="nav-item">
            <%= link_to 'Sign Out', sign_out_path %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Register Account', sign_up_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign In', sign_in_path, class:"nav-link" %>
          </li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
