<!DOCTYPE html>
<html>
  <head>
    <title>Shrade</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-transparent">
      <a class="navbar-brand" href="/">
        <%= image_tag 'airmax.png', width: 50, height: 50, class:"d-inline-block align-center" %>Shrade</a>
      <ul class="nav justify-content-end">
        <% if current_user %>
          <li class="nav-item">
            <%= link_to 'Post Some Kicks', new_posting_path, class:"nav-link text-body" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Find New Kicks', postings_path, class:"nav-link text-body" %>
          </li>
          <div class="btn-group dropleft">
            <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag 'profile-photo-fallback.png', width: 50, height: 50 %>
            </div>
            <div class="dropdown-menu bg-secondary">
              <a class="dropdown-item" href="/users/<%= current_user.id %>">My Profile</a>
              <a class="dropdown-item" href="#">My Trades</a>
              <a class="dropdown-item" href="#">User Management</a>
              <a class="dropdown-item" href="/sign_out">Sign Out</a>
            </div>
          </div>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Register Account', sign_up_path, class:"nav-link text-body" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign In', sign_in_path, class:"nav-link text-body" %>
          </li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
