<!DOCTYPE html>
<html>
  <head>
    <title>Shrade</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-transparent">
      <a class="navbar-brand" href="/">
        <%= image_tag 'airmax.png', width: 50, height: 50, class:"d-inline-block align-center" %>Shrade</a>
      <ul class="nav justify-content-end">
        <% if current_user %>
          <li class="nav-item">
            <%= link_to 'Post Some Kicks', new_posting_path, class:"nav-link text-body" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Find New Kicks', postings_path, class:"nav-link text-body" %>
          </li>
          <div class="btn-group dropleft">
            <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user.photo? %>
                <img class="border border-dark rounded-circle" src="<%= current_user.photo_url %>" style="width: 50px; height: 50px;">
              <% else %>
                <%= image_tag 'profile-photo-fallback.png', width: 50, height: 50 %>
              <% end %>
            </div>
            <div class="dropdown-menu bg-secondary">
              <a class="dropdown-item" href="/users/<%= current_user.id %>">My Profile</a>
              <a class="dropdown-item" href="/trades/view_all">My Trades</a>
              <a class="dropdown-item" href="#">User Management</a>
              <a class="dropdown-item" href="/sign_out">Sign Out</a>
            </div>
          </div>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Register Account', sign_up_path, class:"nav-link text-body" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign In', sign_in_path, class:"nav-link text-body" %>
          </li>
        <% end %>
      </ul>
    </nav>
    <% flash.each do |key, value| %>
            <div class="alert alert-dark" role="alert">
              <%= value %>
            </div>
          <% end %>
    <%= yield %>
    <script>
      $(document).ready(function(){

        setInterval(function(){

          $('.alert').slideUp(500);
          
        }, 5000)

        
      })
    </script>
  </body>
</html>
